#!/bin/bash

#SBATCH --job-name=<%= job.name %>
#SBATCH --output=<%= log.file %>
#SBATCH --error=<%= log.file %>
##SBATCH --ntasks=1 
#SBATCH --time=4000:00
#SBATCH --mem=64000
#SBATCH --cpus-per-task=<%= resources[["cores"]] %>
##SBATCH --cpus-per-task=2
##SBATCH -n 64

Rscript -e 'batchtools::doJobCollection("<%= uri %>")'
